In [7]:
import pandas as pd
import numpy as np

# loading the dataset

df = pd.read_csv('/kaggle/input/job-description-dataset/job_descriptions.csv')
    

# initial info 
print("\nInitial data information:")
print(df.info())


# dropping null and duplicates
relevant_columns = ['Company Size', 'Job Title', 'Experience', 'Country', 
                    'Salary Range', 'Work Type', 'Preference', 'Job Portal', 
                    'Company'] 
df.dropna(subset=relevant_columns, inplace=True)
df.drop_duplicates(inplace=True)
print("\nInitial cleaning (nulls and duplicates) complete.")
print("Number of rows after initial cleaning:", len(df))

# filtering company size
df_filtered = df[df['Company Size'] < 50000].copy()

# filtering job title
df_filtered = df_filtered[df_filtered['Job Title'].str.lower() == 'mechanical engineer']

# filtering experience
df_filtered['Experience'] = df_filtered['Experience'].str.extract('(\d+)').astype(float)
df_filtered = df_filtered[df_filtered['Experience'] > 5]

# filtering salary range
df_filtered['clean_salary'] = df_filtered['Salary Range'].str.replace('$', '').str.replace('k', '000').str.split('-').str[0].astype(float)
df_filtered = df_filtered[df_filtered['clean_salary'] > 50000]

# filtering work type
df_filtered = df_filtered[df_filtered['Work Type'].isin(['Full-time', 'Part-time'])]

# filtering preference
df_filtered = df_filtered[df_filtered['Preference'] == 'Male']

# filtering job portal
df_filtered = df_filtered[df_filtered['Job Portal'].str.lower() == 'idealist']

df_filtered.to_csv('task2_cleaned_data.csv', index=False)

Initial data information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 23 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Job Id            1615940 non-null  int64
 1   Experience        1615940 non-null  object
 2   Qualifications    1615940 non-null  object
 3   Salary Range      1615940 non-null  object
 4   location          1615940 non-null  object
 5   Country           1615940 non-null  object
 6   latitude          1615940 non-null  float64
 7   longitude         1615940 non-null  float64
 8   Work Type         1615940 non-null  object
 9   Company Size      1615940 non-null  int64
 10  Job Posting Date  1615940 non-null  object
 11  Preference        1615940 non-null  object
 12  Contact Person    1615940 non-null  object
 13  Contact           1615940 non-null  object
 14  Job Title         1615940 non-null  object
 15  Role              1615940 non-null  object
 16  Job Portal        1615940 non-null  object
 17  Job Description   1615940 non-null  object
 18  Benefits          1615940 non-null  object
 19  skills            1615940 non-null  object
 20  Responsibilities  1615940 non-null  object
 21  Company           1615940 non-null  object
 22  Company Profile   1610462 non-null  object
dtypes: float64(2), int64(2), object(19)
memory usage: 283.6+ MB
None

Initial cleaning (nulls and duplicates) complete.
Number of rows after initial cleaning: 1615940